body {
    background-image: url('../assets/cinema-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    font-family: 'Roboto', sans-serif;
    background-repeat: repeat;
    min-height: 100vh;
}

.page {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    padding-left: 14px;
}

.ticket-container-indent {
    margin-bottom: 0 !important;
}

.container-hall {
    max-width: 990px;
    margin: 0 auto;
    background-color: #F1EBE6F2;
    margin-bottom: 0;
}

.container-hall-background {
    background-color: #171D24;
}

main.container {
    padding: 0;
}

.header {
    color: #fff;
    margin: 14px 0;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-link {
    display: inline-block;
    text-decoration: none;
}

.logo-img {
    height: 40px;
    width: auto;
    max-width: 200px;
    object-fit: contain;
}

.btn--header {
    background-color: #16A6AF;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn--header:hover {
    background-color: #12838a;
    color: #fff;
}

.dates-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.dates {
    flex: 1 1 auto;
    display: flex;
    gap: 1px;
    min-width: 200px;
    overflow-x: auto;
    align-items: center;
}

.dates__item {
    flex: 1;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    background: #FFFFFFE5;
    color: #000;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    transition: all 0.2s ease;
    text-align: left;
    padding-left: 20px;
}

.dates__item--active {
    flex: 2;
    background: #FFFFFF;
    color: black;
    height: 52px;
    font-size: 15px;
    line-height: 14px;
    font-weight: 700;
}

.dates__item--weekend {
    color: red !important;
}

.dates__item--prev-button {
    font-family: Consolas, "Courier New", monospace;
    height: 48px;
    width: 124px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #FFFFFFE5;
    cursor: pointer;
    text-align: center;
}

.dates__item--prev-button:hover {
    background: #FFFFFFE5;
}

.dates-scroll--next {
    font-family: Consolas, "Courier New", monospace;
    height: 48px;
    width: 124px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #FFFFFFE5;
    cursor: pointer;
}

ul.dates,
ol.dates {
    margin: 0;
    padding-left: 0;
}

.film-card {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    background: #FFFFFFE5;
    margin-top: 30px;
    padding-bottom: 0;
}

.film-card:last-of-type {
    margin-bottom: 0;
}

.film-card__poster {
    border-radius: 0 !important;
    width: 125px;
    height: 175px;
    object-fit: cover;
}

.film-card__poster-col {
    flex: 0.3;
    min-width: 125px;
    height: 175px;
    padding-right: 0;
}

.film-card__poster-text {
    flex: 2;
}

.film-card__title::before {
    content: '';
    position: absolute;
    width: 6px;
    height: calc(14px);
    background-color: #393939;
    pointer-events: none;
    z-index: 1;
    opacity: 1;
    margin-left: -11px;
}

.film-card__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 10px;
}

.film-card__info {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.film-card__description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.film-card__seances {
    display: block;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.film-card__hall {
    width: 100%;
    margin-bottom: 20px;
}

.film-card__hall-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.film-card__times {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.film-card__time {
    background-color: #FFFFFF;
    padding: 5px 12px;
    background: #fff;
    color: #000;
    border-radius: 2px;
    text-decoration: none;
    font-size: 15px;
    line-height: 17px;
    box-shadow: 0 2px 4px #0000001F;
}

.film-card__time--disabled {
    opacity: 0.5;
    background: #ccc;
    border-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.hall-scheme {
    text-align: center;
    background-color: #171D24;
    padding-bottom: 30px;
    padding-top: 15px;
}

.screen-image {
    width: 284px !important;
    height: 18px;
    display: block;
    margin: 0 auto;

}


.hall-scheme-row {
    display: flex;
    margin: 0;

}

.hall-scheme-col {
    flex: 3;
}

.hall-scheme-col-icon {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.hall-scheme-col-icon img {
    width: 120px;
    height: 64px;
    opacity: 0;
}

#film-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding-top: 15px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.seance-paragraph {
    margin-bottom: 6px;
}

.seance-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16 px;
    margin-left: 3px;
}

.hall-scheme-icon-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-left: 15px;
    width: 67px;
    height: 64px;
    margin-left: 10px;
    margin-right: 31px;
    opacity: 0;
}

.seance-hall {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-left: 3px;
}

.hall-scheme__screen {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: flex;
    max-width: 240px;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.hall-scheme__row {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.hall-scheme__place {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
}

.hall-scheme__place--standart {
    background: #FFFFFF;
    color: #fff;
}

.hall-scheme__place--vip {
    background: #F9953A;
    color: #000;
}

.hall-scheme__place--taken {
    border: 1px solid #525252;
    color: #fff;
    cursor: not-allowed;
}

.hall-scheme__place--disabled {
    background: #6c757d;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.5;
}

.hall-scheme__place--selected {
    background: #25C4CE;
    outline-offset: 2px;
}

.text-ticket-info {
    padding-bottom: 25px;
}

.legend {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 0;
    background-color: #171D24;
}

.legend-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}

.legend-color-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #ffffff;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.legend-color--standart {
    background-color: #FFFFFF;
}

.legend-color--taken {
    border: 1px solid #525252;
}

.legend-color--vip {
    background-color: #F9953A;
}

.legend-color--selected {
    background-color: #25C4CE;
    outline: 1px solid #525252;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
}

.btn--primary {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #16A6AF;
    color: #fff;
    width: 337px;
}

.btn--primary:hover {
    background-color: #16A6AF;
    color: #FFFFFF;
}

.btn--secondary {
    background: #6c757d;
    color: #fff;
}

.btn--primary-book {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #16A6AF;
    color: #fff;
    margin-bottom: 30px;
    width: 232px;
    height: 40px;
}

.btn--primary-book:hover {
    background-color: #16A6AF;
    color: #FFFFFF;
}

.payment-container,
.ticket-container {
    position: relative;
    background-color: #F1EBE6F2;
    padding: 20px 0;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.payment-container::before,
.ticket-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: radial-gradient(circle at 50% 0, #C76F00 3px, transparent 3px);
    background-size: 12px 16px;
    background-repeat: repeat-x;
    background-position: top;
}

.payment-container::after,
.ticket-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: radial-gradient(circle at 50% 100%, #C76F00 3px, transparent 3px);
    background-size: 12px 16px;
    background-repeat: repeat-x;
    background-position: bottom;
}

.payment-title {
    font-family: 'Roboto', sans-serif;
    color: #C76F00;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 23px;
}

.payment-title::after {
    content: '';
    position: absolute;
    bottom: 355px;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
    background-size: 12px 16px;
    background-repeat: repeat-x;
    background-position: bottom;
}

.text-booking-info {
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.text-booking-info-bold {
    font-weight: 900;
    line-height: 18px;
}

.text-booking-info-bottom-first-str {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 15px;
    padding-bottom: 0;
    margin-bottom: 0px;
    margin-top: 30px !important;
    color: #000000 !important;
}

.text-booking-info-bottom-second-str {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 10px !important;
    color: #000000 !important;
}

.ticket-container {
    position: relative;
    background-color: #F1EBE6F2;
    padding: 20px 0;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.ticket {
    background-color: transparent;
}

.ticket__title {
    font-family: 'Roboto', sans-serif;
    color: #C76F00;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 18px;
}

.ticket__title::after {
    content: '';
    position: absolute;
    bottom: 475px;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
    background-size: 12px 16px;
    background-repeat: repeat-x;
    background-position: bottom;
}

.ticket__title-text {
    line-height: 18px;
    font-weight: 900;
    width: 100%;
}

.text-ticket-info {
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.ticket__qrcode {
    text-align: center;
    margin: 20px 0;
}

.ticket__qrcode img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 869px) {
    .payment-title::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-top: 44px;
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .payment-title::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-top: 84px;
        margin-bottom: 1px;
    }

    .film-card__title::before {
        content: '';
        position: absolute;
        width: 6px;
        height: calc(14px);
        background-color: #772720;
        pointer-events: none;
        z-index: 1;
        opacity: 1;
        margin-left: -11px;
        clip-path: polygon(0 0, 0 0, 100% 15%, 100% 100%, 0 100%);
    }

    .dates__item {
        width: 100px;
        height: 44px;
        font-size: 12px;
    }

    .dates-scroll--next {
        height: 44px;
    }

    .dates__item--active {
        height: 48px;
    }

    .hall-scheme-col-icon img {
        width: 24px;
        height: 32px;
        opacity: 1;
        visibility: visible;
    }

    .hall-scheme-icon-text {
        opacity: 1;
        visibility: visible;
    }

    .payment-container {
        margin-bottom: 143px;
    }

    .payment-title::after {
        content: '';
        position: absolute;
        bottom: 370px;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
    }
}

@media (max-width: 497px) {
    .payment-title::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .ticket__title::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-top: 35px;
        margin-bottom: 25px;
    }
}

@media (max-width: 449px) {
    .payment-title::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .ticket__title::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-top: 35px;
        margin-bottom: 25px;
    }
}

@media (max-width: 390px) {

    .hall-scheme-col {
        flex: 3;
    }

    .hall-scheme-col-icon {
        flex: 1;
    }

    .dates__item {
        width: 20px;
        font-size: 12px;
        line-height: 14px;
        padding-right: 0;
    }

    .container-hall {
        margin-bottom: 186px;
    }

    .ticket-container-indent {
        margin-bottom: 203px !important;
    }

    .dates-scroll--next {
        width: 44px;
    }

    .dates__item {
        padding-left: 4px;
    }

    .dates__item--active {
        padding-right: 0;
        max-width: 70px;
    }

    .payment-container {
        margin-bottom: 100%;
    }

    .payment-title {
        margin-bottom: 18px;
        padding-bottom: 15px;
    }

    .payment-title::after {
        content: '';
        position: absolute;
        bottom: auto;
        top: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .text-booking-info {
        padding-bottom: 11px;
        line-height: 18px;
    }

    .text-booking-info-bold {
        font-weight: 900;
        line-height: 18px;
    }

    .ticket__title {
        margin-bottom: 18px;
        padding-bottom: 0;
        line-height: 18px;
    }

    .ticket__title::after {
        content: '';
        position: absolute;
        bottom: 435px;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-repeat: repeat-x;
        background-position: bottom;
    }

    .ticket__title::after {
        content: '';
        display: block;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 16px;
        background-image: radial-gradient(circle at 6px 8px, #C76F00 3px, transparent 3px);
        background-size: 12px 16px;
        background-position: top;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .ticket__title-text {
        display: inline;
        line-height: 18px;
        font-weight: 900;
    }

    .text-ticket-info {
        align-items: center;
        margin-top: 0;
        padding-left: 0;
        line-height: 18px;
    }

    .ticket__info {
        margin-top: 38px;
        padding-left: 15px;
    }

    .page-payment {
        line-height: 0;
    }

    .page-ticket {
        line-height: 0;
    }
}